<main>
    <section class="container stylization maincont">

        <ul class="b-crumbs">
            <li>
                <%= link_to "Home", root_path %>
            </li>
            <li>
                <span>Logowanie / Rejestracja</span>
            </li>
        </ul>
        
        <%= render 'panel/shared/info' %>

        <h1 class="main-ttl"><span>Logowanie / Rejestracja</span></h1>
        <div class="auth-wrap">
            <div class="auth-col">
                <h2>Logowanie</h2>
                <%=form_tag panel_sessions_path, class: 'login' do %>
                    <p>
                        <label for="username">E-mail <span class="required">*</span></label><%= text_field_tag :email %>
                    </p>
                    <p>
                        <label for="password">Hasło <span class="required">*</span></label><%= password_field_tag :password %>
                    </p>
                    <p class="auth-submit">
                        <%= submit_tag 'Zaloguj' %>
                    </p>
                    <p class="auth-lost_password">
                        <a href="#">Zapomniałeś hasła?</a>
                    </p>
                <% end %>
            </div>
            <div class="auth-col">
                <h2>Rejestracja</h2>
                <form method="post" class="register">
                    <p>
                        <label for="reg_email">Email <span class="required">*</span></label><input type="email" id="reg_email">
                    </p>
                    <p>
                        <label for="reg_password">Password <span class="required">*</span></label><input type="password" id="reg_password">
                    </p>
                    <p class="auth-submit">
                        <input type="submit" value="Register">
                    </p>
                </form>
            </div>
        </div>
    </section>
</main>