<%= form_for [:panel, @setting], html: {multipart: true} do |f| %>
	<div class="form-group">
		<%= f.label :site_name, "Tytuł strony" %>
		<%= f.text_field :site_name, class: 'form-control' %>
	</div>
	<div class="form-group">
		<%= f.label :image, "Logo" %>
		<p style="display: inline-block;border:1px solid #000;"><%= image_tag @setting.image.url %></p>
		<%= f.file_field :image %>
	</div>
	<div class="form-group">
		<%= f.label :posts_per_page, "Ile na stronę" %>
		<%= f.text_field :posts_per_page, class: 'form-control' %>
	</div>
	<div class="form-group">
		<%= f.label :under_maintenace, "Strona w budowie" %>
		<%= f.check_box :under_maintenace %>
	</div>
	<%= f.submit "Zapisz" %>
<% end %>