<header class="header">

    <!-- Topbar - start -->
    <div class="header_top">
        <div class="container">
            <ul class="contactinfo nav nav-pills">
                <li>
                    <i class='fa fa-phone'></i> + 601 345 189
                </li>
                <li>
                    Sanok | Zagórz | Krosno | Dynów | Dukla | Jasło | Lesko | Brzozów | Ustrzyki Dolne
                </li>
            </ul>
            		
        </div>
    </div>
    <!-- Topbar - end -->

    <!-- Logo, Shop-menu - start -->
    <div class="header-middle">
        <div class="container header-middle-cont">
            <div class="toplogo">
                <%= link_to root_path do %>
                    <img src="img/logo.png" alt="Deportes.pl">
                <% end %>
            </div>
            <div class="shop-menu">
                <ul>

                    <li class="topauth">
                        <%= link_to login_path do %>
                            <i class="fa fa-lock"></i>
                            <span class="shop-menu-ttl">Rejestracja</span>
                        <% end %>
                        <%= link_to login_path do %>
                            <span class="shop-menu-ttl">Logowanie</span>
                        <% end %>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Logo, Shop-menu - end -->

    <!-- Topmenu - start -->
    <div class="header-bottom">
        <div class="container">
            <nav class="topmenu">

                <!-- Catalog menu - start -->
                <div class="topcatalog">
                    <a class="topcatalog-btn" href="#"><span>Wszystkie </span> rodzaje bram</a>
                    <ul class="topcatalog-list">
                        <li>
                            <%= link_to "Bramy przeciwpożarowe", przeciwpozarowe_path %>
                        </li>
                        <li>
                            <%= link_to "Bramy segmentowe", segmentowe_path %>
                        </li>
                        <li>
                            <%= link_to "Bramy przemysłowe", przemyslowe_path %>
                        </li>
                        <li>
                            <%= link_to "Bramy uchylne", uchylne_path %>
                        </li>
                        <li>
                            <%= link_to "Bramy roletowa", roletowa_path %>
                        </li>
                    </ul>
                </div>
                <!-- Catalog menu - end -->

                <!-- Main menu - start -->
                <button type="button" class="mainmenu-btn">Menu</button>

                <ul class="mainmenu">
                    <li>
                        <%= link_to "Home", root_path, class: 'active' %>
                    </li>
                    <li>
                        <%= link_to "Kontakt", kontakt_path %>
                    </li>
                </ul>
                <!-- Main menu - end -->

                <!-- Search - start -->
                <div class="topsearch">
                    <a id="topsearch-btn" class="topsearch-btn" href="#"><i class="fa fa-search"></i></a>
                    <form class="topsearch-form" action="#">
                        <input type="text" placeholder="Search products">
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </form>
                </div>
                <!-- Search - end -->

            </nav>		</div>
    </div>
    <!-- Topmenu - end -->

</header>