<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header search-header">
        <h3 class="box-title">Użytkownicy</h3>

        <div class="box-tools">
          <div class="input-group input-group-sm" style="width: 150px;">
              <%= form_tag panel_users_path, method: :get %>
              <%= text_field_tag :search, nil, :class => 'form-control', :placeholder => 'Szukaj' %>
              <div class="input-group-btn">
                <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
              </div>
          </div>
        </div>
      </div>
      <!-- /.box-header -->
      <div class="box-body table-responsive no-padding">
        <table class="table table-hover">
          <tr>
            <th>ID</th>
            <th>Użytkownik</th>
            <th>Email</th>
            <th>Od kiedy</th>
            <th>Rola</th>
            <th>Status</th>
          </tr>
          <% @users.each do |user| %>
	          <tr>
	            <td><%= user.id %></td>
	            <td><%= user.fullname %></td>
	            <td><%= user.email %></td>
	            <td><%= since_when user.created_at %></td>
	            <td><%= user_role user.role %></td>
	            <td><%= user_status user.banned %></td>
	          </tr>
          <% end %>
        </table>
      </div>
      <!-- /.box-body -->
      <div class="box-footer clearfix">

        <%= paginate @users, :theme => 'twitter-bootstrap', :pagination_class => 'pagination pagination-sm no-margin pull-right' %>
      </div>
    </div>
    <!-- /.box -->
  </div>
</div>