<!DOCTYPE html>
<html>
  <head>
    <title>Deportes</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'login', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'login', 'data-turbolinks-track': 'reload' %>
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
  </head>

  <body class="hold-transition login-page">
    
    <div class="login-box">
      <%= render 'panel/shared/info' %>
      <div class="login-logo">
        <%= link_to '/' do %>
          <b>Logowanie</b>Deportes
        <% end %>
      </div>
      <!-- /.login-logo -->
      <div class="login-box-body">
        <p class="login-box-msg">Konto demo login: demo hasło: demo</p>

        <%= yield %>

      </div>
      <!-- /.login-box-body -->
    </div>
    <!-- /.login-box -->

  </body>

</html>